.form {
  width: 700px;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #10171E 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #10171E 10px, transparent 10px),
  linear-gradient(#10171E 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #10171E;
  background-size: 20px 20px;
}

.f3 {
  color: #82A7B2;
  padding-bottom: 50px;
}

.link-form {
  margin-bottom: 50px; 
}

button {
  color: #82A7B2;
  background-color: #1d1d1d;
  border: solid 2px #82A7B2;
  font-size: 35px;
}

input {
  border: solid 2px #82A7B2;
}