.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: crosshair;
}

.input-image {
  border: solid #82A7B2 5px;
  border-radius: 15px;
}

.wait {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b2d8e4;
}

